EXPO_PUBLIC_APP_NAME="Rawyan ERP"
EXPO_PUBLIC_APP_SHORT_NAME="Rawyan"
EXPO_PUBLIC_API_URL="https://rawyanerp.com/api"
EXPO_PUBLIC_SUPPORT_EMAIL="mdarshadkhan344@gmail.com"
EXPO_PUBLIC_WHATSAPP_NUMBER="+923339933057"
EXPO_PUBLIC_PHONE_NUMBER="+923339933057"
